
<p class="eventHeading">The WI</p>

<p>A huge thank you to the The WI for all their help with their efforts.</p>
@* <img src="images/pages/carnival/sponsors/cb3.png" style="width:100%" /> *@

<p>Every year without fail, for as many years as we can remember, The WI have been serving up the refreshments for our Sports Afternoons, and 
    we would like to thank them from the bottom of our hearts. 
</p>

<p style="text-align: center">
    <a class="link-dark" href="https://isle-of-ely.thewi.org.uk/find-wi/doddington" target="_blank">Learn more about The WI on their website</a>
</p>
