@page "/discos/awardspresentation"

<PageTitle>Awards Disco - Doddington Carnival</PageTitle>

<title>Awards Presentation Disco</title>

<div class="carnivalpage pages paralax carnivalpage-darkblue">
    <div class="container">

        <header>
            <h4 class="line-divider">Discos</h4>
            <h1>Awards Presentation Disco</h1>
        </header>

        <div class="px-4 py-5 my-5 text-center">
            <div class="col-lg-12 mx-auto">

                <SharedNextEvent Tag="Awards Disco" />

            </div>
        </div>

        <p>Stuff in here.</p>
       
    </div>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
    }
}