@page "/pubquiz"

<PageTitle>pub Quizzes - Doddington Carnival</PageTitle>

<title>Pub Quizzes</title>

<div class="carnivalpage pages paralax carnivalpage-darkblue">
    <div class="container">

        <header>
            <h4 class="line-divider">Pub Quiz</h4>
            <h1>Quiz Night!</h1>
        </header>

        <div class="container col-xxl-8 px-4 py-5">

            <div class="card eventCard">
                <div class="card-body">
                    <p class="eventHeading">Event Details</p>

                    <p class="bold-text">Come and test your knowledge at our upcoming Pub Quiz Night, which is being held to raise funds for the Doddington Village Sports &amp; Carnival.</p>
                    <p>Get together with friends or form a team of up to six people and compete against other teams for the chance to win great prizes.</p>
                    <p>Our quiz will cover a wide range of topics, from pop culture and sports to history and science, so there will be something for everyone. </p>
                    <p>As well as having a great time, you'll also be supporting a fantastic cause, as all proceeds will go towards making this year's carnival bigger and better than ever before.</p>
                    <p>So why not join us for a night of fun, laughter, and friendly competition, all in aid of a great local event?</p>

                    <SharedNextEvent Tag="Pub Quiz" />
                </div>
            </div>

            <div class="card eventCard">
                <div class="card-header">
                    Saturday 30th September 2023
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <p class="eventHeading">At The Three Tuns, Doddington</p>
                            <p>
                                <ul>
                                    <li>8pm Start, so get there early!</li>
                                    <li>Entry fee is £2 per person.</li>
                                    <li>Up to 6 people per team.</li>
                                    <li>Winners will receive 50% of the Entry Money.</li>
                                    <li>(No mobile phones!)</li>
                                </ul>
                            </p>

                        </div>
                        <div class="col-6">
                            <p class="eventHeading">Download the Quiz Night Poster</p>
                            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                                @*<a href="/pdfs/PubQuiz/2023 Pub Quiz Poster.pdf" target="_blank" class="btn btn-primary btn-block btn-lg px-4 me-md-2">Download now</a>*@
                                <p>Coming soon!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @*<div class="card eventCard">
                <div class="card-header">
                    Saturday 25th March 2023
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <p class="eventHeading">At The Three Tuns, Doddington</p>
                            <p>
                                <ul>
                                    <li>8pm Start, so get there early!</li>
                                    <li>Entry fee is £2 per person.</li>
                                    <li>Up to 6 people per team.</li>
                                    <li>Winners will receive 50% of the Entry Money.</li>
                                    <li>(No mobile phones!)</li>
                                </ul>
                            </p>

                        </div>
                        <div class="col-6">
                            <p class="eventHeading">Download the Quiz Night Poster</p>
                            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                                <a href="/pdfs/PubQuiz/2023 Pub Quiz Poster.pdf" target="_blank" class="btn btn-primary btn-block btn-lg px-4 me-md-2">Download now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@

        </div>
    </div>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
    }
}