@page "/carnival"

@using Syncfusion.Blazor
@using Syncfusion.Blazor.Navigations
@using DoddingtonCarnival.Blazor.Services
@using DoddingtonCarnival.Blazor.Models
@using System.Globalization;

@inject CalendarService calendarService

<PageTitle>Carnival - Doddington Carnival</PageTitle>

<title>Carnival</title>

<div class="carnivalpage pages paralax carnivalpage-darkblue">
    <div class="container">

@*         <header>
            <h4 class="line-divider">Carnival</h4>
            <h1>Doddington Carnival</h1>
        </header> *@

        <div class="container col-xxl-8 px-4 py-1">          

            <div class="control-container">
                <SfCarousel>
                    <CarouselItem>
                        <figure class="img-container">
                            <img src="images/pages/Carnival/Floats/Carnival2017 (13).jpg" alt="Carnival Floats" style="height:100%;width:100%;" />
                            <figcaption class="img-caption">Carnival Floats</figcaption>
                        </figure>
                    </CarouselItem>
                    <CarouselItem>
                        <figure class="img-container">
                            <img src="images/pages/Carnival//Floats/Carnival2018 (41).jpg" alt="Live music from Bondy" style="height:100%;width:100%;" />
                            <figcaption class="img-caption">Live music from Bondy</figcaption>
                        </figure>
                    </CarouselItem>
                    <CarouselItem>
                        <figure class="img-container">
                            <img src="images/pages/Carnival/Floats/Carnival2017 (6).jpg" alt="Carnival Floats" style="height:100%;width:100%;" />
                            <figcaption class="img-caption">Carnival Floats</figcaption>
                        </figure>
                    </CarouselItem>
                    <CarouselItem>
                        <figure class="img-container">
                            <img src="images/pages/Carnival//Floats/Carnival2018 (19).jpg" alt="Carnival Floats" style="height:100%;width:100%;" />
                            <figcaption class="img-caption">Carnival Floats</figcaption>
                        </figure>
                    </CarouselItem>
                    <CarouselItem>
                        <figure class="img-container">
                            <img src="images/pages/Carnival//Floats/Carnival2019 (26).jpg" alt="Carnival Floats" style="height:100%;width:100%;" />
                            <figcaption class="img-caption">Carnival Floats</figcaption>
                        </figure>
                    </CarouselItem>
                    <CarouselItem>
                        <figure class="img-container">
                            <img src="images/pages/Carnival//Floats/Carnival2019 (12).jpg" alt="Carnival Prince & Princess (2019)" style="height:100%;width:100%;" />
                            <figcaption class="img-caption">Carnival Prince & Princess (2019)</figcaption>
                        </figure>
                    </CarouselItem>
                </SfCarousel>
            </div>

            <div class="row eventBanner">
                <div class="title">
                    Doddington Carnival
                </div>
                <div class="">
                    @nextCarnival.Value.ToString("dddd dd MMMM yyyy", CultureInfo.InvariantCulture)
                </div>

            </div>

            <div class="card eventCard">
                <div class="card-body">
                    <p class="eventHeading">Event Details</p>

                    <p>Doddington Village Carnival is on the morning of the first Saturday in July each year, and the parade reaches throughout the village. Come out and see the fantastic array of floats, bands and vehicles on display, each to tie-in to this year's theme and show-off the creativeness of the village.</p>

                    <SharedNextEvent Tag="Carnival Parade" />

                    <p>
                        <a href="https://www.facebook.com/events/328117913061794" target="_blank" class="dinkyIcons"><i class="bi bi-facebook"></i></a>
                        <a href="https://www.instagram.com/doddingtoncarnival" target="_blank" class="dinkyIcons"><i class="bi bi-instagram"></i></a>
                    </p>
                </div>
            </div>

            @* <DoddingtonCarnival.Blazor.Shared.Sponsors._2023_CB3 /> *@

            <CarnivalComponent />

            @* <SharedRaffleTickets /> *@

            <div class="card eventCard">
                <div class="card-header">
                    Carnival Parade
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6 col-12">
                            <img src="images/Pages/Carnival/Titles/Float.png" class="d-block mx-lg-auto img-fluid" alt="" width="700" height="500" loading="lazy">
                        </div>
                        <div class="col-lg-6 col-12">
                            <p>Float away in the parade procession through the village!</p>
                            <p>Bands, group floats, family floats and marching bands - there's something for everyone.</p>
                            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                                <a href="/carnival/parade" class="btn btn-primary btn-block btn-lg px-4 me-md-2">Go to the Parade</a>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>

            <div class="card eventCard">
                <div class="card-header">
                    Fancy Dress
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6 col-12">
                            <img src="images/Pages/Carnival/Titles/FancyDress.png" class="d-block mx-lg-auto img-fluid" alt="" width="700" height="500" loading="lazy">
                        </div>
                        <div class="col-lg-6 col-12">
                            <p>Get creative and get making a fancy dress as part of our competition!</p>
                            <p>See what you can make that fits into this year's theme to become the winner in your group.</p>
                            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                                <a href="/carnival/fancydress" class="btn btn-primary btn-block btn-lg px-4 me-md-2">Go to Fancy Dress</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card eventCard">
                <div class="card-header">
                    Road Closure
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6 col-12">
                            <img src="images/Pages/Carnival/Titles/RoadClosed.png" class="d-block mx-lg-auto img-fluid" alt="" width="700" height="500" loading="lazy">
                        </div>
                        <div class="col-lg-6 col-12">
                            <p>
                                To create a safe environment during the Carnival procession, a road closure is enforced. Residents of Doddington should be aware.
                            </p>
                            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                                <a href="/carnival/roadclosure" class="btn btn-primary btn-block btn-lg px-4 me-md-2">Go to the Road Closure info</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


            <div class="card eventCard">
                <div class="card-header">
                    Previous Years Photo Albums
                </div>
                <div class="card-body">

                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <td>Year</td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>2023</td>
                                <td><a href="https://www.facebook.com/media/set/?set=a.663591592476463" target="_blank">All Photos</a></td>
                            </tr>
                            <tr>
                                <td>2022</td>
                                <td><a href="https://www.facebook.com/media/set/?set=a.5544542202273963" target="_blank">All Photos</a></td>
                            </tr>
                            <tr>
                                <td>2019</td>
                                <td><a href="https://www.facebook.com/media/set/?set=a.2468292276565653" target="_blank">All Photos</a></td>
                            </tr>
                            <tr>
                                <td>2018</td>
                                <td><a href="https://www.facebook.com/media/set/?set=a.1906496962745190" target="_blank">All Photos</a></td>
                            </tr>
                            <tr>
                                <td>2017</td>
                                <td><a href="https://www.facebook.com/media/set/?set=a.1482180548510169" target="_blank">All Photos</a></td>
                            </tr>
                            <tr>
                                <td>2016</td>
                                <td><a href="https://www.facebook.com/media/set/?set=a.1110577825670445" target="_blank">All Photos</a></td>
                            </tr>
                            <tr>
                                <td>2015</td>
                                <td><a href="https://www.facebook.com/media/set/?set=a.906817866046443" target="_blank">All Photos</a></td>
                            </tr>
                            <tr>
                                <td>2014</td>
                                <td><a href="https://www.facebook.com/media/set/?set=a.972251829503046" target="_blank">All Photos</a></td>
                            </tr>
                            <tr>
                                <td>2013</td>
                                <td><a href="https://www.facebook.com/media/set/?set=a.972239036170992" target="_blank">All Photos</a></td>
                            </tr>
                            <tr>
                                <td>2012</td>
                                <td><a href="https://www.facebook.com/media/set/?set=a.972224079505821" target="_blank">All Photos</a></td>
                            </tr>
                            <tr>
                                <td>2011</td>
                                <td><a href="https://www.facebook.com/media/set/?set=a.972170586177837" target="_blank">All Photos</a></td>
                            </tr>
                            <tr>
                                <td>2010</td>
                                <td><a href="https://www.facebook.com/media/set/?set=a.972035202858042" target="_blank">All Photos</a></td>
                            </tr>
                            <tr>
                                <td>2009</td>
                                <td><a href="https://www.facebook.com/media/set/?set=a.972033046191591" target="_blank">All Photos</a></td>
                            </tr>
                            <tr>
                                <td>2008</td>
                                <td><a href="https://www.facebook.com/media/set/?set=a.972030219525207" target="_blank">All Photos</a></td>
                            </tr>
                            <tr>
                                <td>2007</td>
                                <td><a href="https://www.facebook.com/media/set/?set=a.972023626192533" target="_blank">All Photos</a></td>
                            </tr>
                            <tr>
                                <td>2005</td>
                                <td><a href="https://www.facebook.com/media/set/?set=a.972022039526025" target="_blank">All Photos</a></td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>

        </div>
    </div>
</div>

@code {
    DateTime? nextCarnival;

    protected override async Task OnInitializedAsync()
    {
        var nextCarnivalEvent = calendarService.GetAll("carnival-day").OrderBy(x => x.StartDateTime).FirstOrDefault();

        if (nextCarnivalEvent != null)
        {
            nextCarnival = nextCarnivalEvent.StartDateTime;
        }
    }
}