@page "/themes/2023"

@inject NavigationManager NavManager

<PageTitle>2023 Theme</PageTitle>

<title>2023 Theme</title>

<div class="carnivalpage pages paralax carnivalpage-darkblue">
    <div class="container">

        <header>
            <h4 class="line-divider" @onclick="NavigateToParent">Themes</h4>
            <h1>2023 Theme</h1>
        </header>

        <div class="row">
            <div class="col-md-8 col-md-offset-2">

                <p>The theme for 2023 is... OUTER SPACE!</p>
                
            </div>
        </div>
    </div>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
    }

    private void NavigateToParent()
    {
        NavManager.NavigateTo("/themes");
    }
}