@page "/princeandprincess/photos"

@using DoddingtonCarnival.Blazor.Services
@using DoddingtonCarnival.Blazor.Models

@inject PrinceAndPrincessService princeAndPrincessService
@inject NavigationManager NavManager

<PageTitle>Prince & Princess - Doddington Carnival</PageTitle>

<title>The Doddington Carnival Prince & Princess</title>

<div class="carnivalpage pages paralax carnivalpage-darkblue">
    <div class="container">

        <header>
            <h4 class="line-divider" @onclick="NavigateToParent">Prince and Princess</h4>
            <h1>Photos</h1>
        </header>

        <SharedMasonryImages baseService=princeAndPrincessService />
    </div>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
    }

    private void NavigateToParent()
    {
        NavManager.NavigateTo("/princeandprincess");
    }
}