@page "/"

<PageTitle>Home - Doddington Carnival</PageTitle>

<title>What's going on and when?</title>

<div class="carnivalpage pages paralax carnivalpage-darkblue page-features">

    <div class="jumbotron jumbotron-fluid doddingtonLorry">
        <div class="containerImage">
            <p><span class="display-6">Welcome to<br /></span><span class="display-4">Doddington Village Sports and Carnival</span></p>
        </div>
    </div>

    <div class="container">

        <p class="text-center bold-text">Doddington, Cambridgeshire, UK</p>

        <div class="masonry features">
            <div class="mItem">
                <div class="card feature">
                    <img src="images/Pages/Home/Banner_PrinceAndPrincess-min.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Carnival Prince & Princess</h5>
                        <div class="card-link">
                            <a href="princeandprincess" class="w-100">Find out more...</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mItem">
                <div class="card feature">
                    <img src="images/Pages/Home/Banner_Carnival-min.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Carnival Floats & Procession</h5>
                        <div class="card-link">
                            <a href="carnival" class="w-100">Find out more...</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mItem">
                <div class="card feature">
                    <img src="images/Pages/Home/Banner_SportsAfternoon-min.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Children's Sports Afternoon</h5>
                        <div class="card-link">
                            <a href="sportsafternoon" class="w-100">Find out more...</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mItem">
                <div class="card feature">
                    <img src="images/Pages/Home/Banner_Discos-min.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Doddington Discos</h5>
                        <div class="card-link">
                            <div class="w-100">Info coming soon!</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mItem">
                <div class="card feature">
                    <img src="images/Pages/Home/Banner_SantaRun-min.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Santa Claus is coming to town!</h5>
                        <div class="card-link">
                            <a href="santarun" class="w-100">Find out more...</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mItem">
                <div class="card feature">
                    <img src="images/Pages/Home/Banner_Scarecrow-min.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Scarecrows Competition</h5>
                        <div class="card-link">
                            <a href="scarecrows" class="w-100">Find out more...</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mItem">
                <div class="card feature">
                    <img src="images/Pages/Home/Banner_FancyDress-min.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Fancy Dress Competitions</h5>
                        <div class="card-link">
                            <a href="fancydress" class="w-100">Find out more...</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mItem">
                <div class="card feature">
                    <img src="images/Pages/Home/Banner_PubQuiz-min.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Pub Quiz Fundraisers</h5>
                        <div class="card-link">
                            <a href="pubquiz" class="w-100">Find out more...</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

}