@page "/"

<PageTitle>Home - Doddington Carnival</PageTitle>

<title>What's going on and when?</title>

<div class="carnivalpage pages paralax carnivalpage-darkblue page-features">

    <div class="jumbotron jumbotron-fluid doddingtonLorry">
        <div class="containerImage">
            <p><span class="display-6">Welcome to<br /></span><span class="display-4">Doddington Village Sports and Carnival</span></p>
        </div>
    </div>

    <div class="container">

        <p class="text-center bold-text">Doddington, Cambridgeshire, UK</p>

        <div class="masonry features">
            <div class="mItem">
                <div class="card feature">
                    <img src="images/features/princeandprincess.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Prince & Princess</h5>
                        <p class="card-text">The boys and girls of the village get selected and become the Prince and Princess.</p>
                        <a href="princeandprincess" class="w-100 btn btn-lg btn-primary">Find out more...</a>
                    </div>
                </div>
            </div>

            <div class="mItem">
                <div class="card feature">
                    <img src="images/features/carnival.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Carnival</h5>
                        <p class="card-text">Join us for a fantastic show of carnival floats and parade around the streets of Doddington!</p>
                        <a href="carnival" class="w-100 btn btn-lg btn-primary">Find out more...</a>
                    </div>
                </div>
            </div>

            <div class="mItem">
                <div class="card feature">
                    <img src="images/features/sportsday.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Sports Afternoon</h5>
                        <p class="card-text">Races for children of all ages with medals and trophies to win! Also bouncy castles, food and a whole lot more!</p>
                        <a href="sportsafternoon" class="w-100 btn btn-lg btn-primary">Find out more...</a>
                    </div>
                </div>
            </div>

            <div class="mItem">
                <div class="card feature">
                    <img src="images/features/doddingtondisco.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Discos</h5>
                        <p class="card-text">Remember the days of Doddington Disco? Leave the kids at home and come and have some disco fun!</p>
                        @*<a href="discos" class="w-100 btn btn-lg btn-primary">Find out more...</a>*@
                        <button type="button" class="w-100 btn btn-lg btn-primary" disabled="disabled">(Info coming soon!)</button>
                    </div>
                </div>
            </div>

            <div class="mItem">
                <div class="card feature">
                    <img src="images/features/santarun.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">The Santa Run!</h5>
                        <p class="card-text">Each Christmas, we bring Santa out to each and every corner of the village to see the children, with music and fun.</p>
                        <a href="santarun" class="w-100 btn btn-lg btn-primary">Find out more...</a>
                    </div>
                </div>
            </div>

            <div class="mItem">
                <div class="card feature">
                    <img src="images/features/scarecrows.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Scarecrows</h5>
                        <p class="card-text">Every year, theme-based scarecrows are very competitive and lots of fun to find around the village.</p>
                        <a href="scarecrows" class="w-100 btn btn-lg btn-primary">Find out more...</a>
                    </div>
                </div>
            </div>

            <div class="mItem">
                <div class="card feature">
                    <img src="images/features/fancydress.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Fancy Dress</h5>
                        <p class="card-text">Fancy Dress is very much encouraged at our events, for young and old, and there are prizes for them too!</p>
                        <a href="fancydress" class="w-100 btn btn-lg btn-primary">Find out more...</a>
                    </div>
                </div>
            </div>

            <div class="mItem">
                <div class="card feature">
                    <img src="images/features/pubquizzes.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Pub Quiz</h5>
                        <p class="card-text">Come and test your knowledge at our upcoming Pub Quiz Night! Teams of up to 6 people!</p>
                        <a href="pubquiz" class="w-100 btn btn-lg btn-primary">Find out more...</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

}