@page "/media"

<PageTitle>Media - Doddington Carnival</PageTitle>

<title>What's Occuring?</title>

<div class="carnivalpage pages paralax carnivalpage-darkblue">
    <div class="container">

        <header>
            <h4 class="line-divider">Media</h4>
            <h1>Media Information</h1>
        </header>

        <div class="container col-xxl-8 px-4 py-5">

            <div class="row flex-lg-row-reverse align-items-center g-5 py-5 text-center">
                <p class="headerTitle">If you need to access the stats and details of the event for publication in the newspapers or online, please feel free to use or reference the following information. Alternatively, please do get in touch if there's more information that we can provide..</p>

                @* <SharedNextEvent Tag="Media" />*@
            </div>

            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                <div class="col-12">
                    <p>
                        Typical Programme of Events:
                        <ul>
                            <li>April - Prince and Princess Selection Disco.</li>
                            <li>June - Scarecrow Competition.</li>
                            <li>July - Carnival Parade/Procession and Sports Afternoon.</li>
                            <li>September - Presentation Awards Disco.</li>
                            <li>December - The Santa Run - a 3 night tour of Doddington with Father Christmas.</li>
                        </ul>
                    </p>

                    <p>
                        Random facts about the Doddington Village Sports and Carnival:
                        <ul>
                            <li>Doddington Carnival has been running 1743.</li>
                            <li>Staffed entirely by volunteers.</li>
                            <li>Current committee have been in operation since 2009.</li>
                            <li>We are an eclectic bunch, made up of farmers, lorry drivers, office managers, military personnel, architects, electrical engineers, child carers, graphic designers, factory workers and more!</li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                    </p>

                    <p>
                        Current Committee Heads are:
                        <ul>
                            <li>Chair - Mr Jason Shepherd.</li>
                            <li>Vice Chair - Mr Adam Rush.</li>
                            <li>Treasurer - Miss Erica Mason.</li>
                            <li>Secretary - Mr Brett Rigby.</li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

@code
{
    protected override async Task OnInitializedAsync()
    {
    }
}