@page "/newPage"

<PageTitle>Calendar</PageTitle>

<title>What's going on and when?</title>

<div class="carnivalpage pages paralax carnivalpage-test">
    <div class="container">

        <p>Stuff in here.</p>
       
    </div>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
    }
}