@page "/whoops"

<PageTitle>Whoops! - Doddington CarnivalS</PageTitle>

<title>Something went wrong!</title>

<div class="carnivalpage pages paralax carnivalpage-green page-features">
    <div class="container">

         <h1>Whoops!</h1>
         <h2>Something went wrong there. Want to go back and retry that one?</h2>
         
    </div>
</div>

@code {

}