@page "/discos"

<PageTitle>Discos - Doddington CarnivalS</PageTitle>

<title>Discos</title>

<div class="carnivalpage pages paralax carnivalpage-darkblue">
    <div class="container">

        <header>
            <h4 class="line-divider">Discos</h4>
            <h1>Discos</h1>
        </header>

        <div class="container col-xxl-8 px-4 py-5">

            <div class="row flex-lg-row-reverse align-items-center g-5 py-5 text-center">
                <p class="headerTitle">Come on down and dance your disco socks off and have a great time with family and friends! For children, it's a safe place to get your groovy on and for the older kids of yester-year, there's a fully licensed bar on-premises.</p>

                <SharedNextEvent Tag="Disco" />
            </div>

            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                <div class="col-10 col-sm-8 col-lg-6">
                    <img src="bootstrap-themes.png" class="d-block mx-lg-auto img-fluid" alt="" width="700" height="500" loading="lazy">
                </div>
                <div class="col-lg-6">
                    <h1 class="display-5 fw-bold lh-1 mb-3">Prince and Princess Selection Disco</h1>
                    <p class="lead">Each year, we randomly select Doddington Carnival's Prince and a Princess.</p>
                    <p class="lead">The lucky winners are the center piece of the Carnival, opening the various events throughout the year.</p>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                        <a href="/discos/princeandprincess" class="btn btn-primary btn-block btn-lg px-4 me-md-2">Go to Prince and Princess Disco</a>
                    </div>
                </div>
            </div>

            <hr />

            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">

                <div class="col-lg-6">
                    <h1 class="display-5 fw-bold lh-1 mb-3">Doddington Disco</h1>
                    <p class="lead">A true blast from the past! The one, the only, the original Doddington Disco!</p>
                    <p class="lead">Leave the kids at home and join us for some 80's and 90's evenings to remember!</p>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                        <a href="/discos/doddingtondisco" class="btn btn-primary btn-block btn-lg px-4 me-md-2">Go to Doddington Disco</a>
                    </div>
                </div>

                <div class="col-10 col-sm-8 col-lg-6">
                    <img src="images/Pages/Discos/DoddingtonDisco.png" class="d-block mx-lg-auto img-fluid" alt="" width="700" height="500" loading="lazy">
                </div>
            </div>

            <hr />

            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                <div class="col-10 col-sm-8 col-lg-6">
                    <img src="images/Pages/Discos/Trophies.png" class="d-block mx-lg-auto img-fluid" alt="" width="700" height="500" loading="lazy">
                </div>
                <div class="col-lg-6">
                    <h1 class="display-5 fw-bold lh-1 mb-3">Awards Presentation and Disco</h1>
                    <p class="lead">Medals and trophies are awarded to the winners of the races on Sports.</p>
                    <p class="lead">Join us for a mix of presentations and disco-fever!</p>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                        <a href="/discos/awardspresentation" class="btn btn-primary btn-block btn-lg px-4 me-md-2">Go to Awards Presentation Disco</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
    }
}