@page "/discos"

@using Syncfusion.Blazor
@using Syncfusion.Blazor.Navigations
@using DoddingtonCarnival.Blazor.Services
@using DoddingtonCarnival.Blazor.Models
@using System.Globalization;

@inject CalendarService calendarService

<PageTitle>Discos - Doddington Carnival</PageTitle>

<title>Discos</title>

<div class="carnivalpage pages paralax carnivalpage-darkblue">
    <div class="container">

@*         <header>
            <h4 class="line-divider">Carnival</h4>
            <h1>Doddington Carnival</h1>
        </header> *@

        <div class="container col-xxl-8 px-4 py-1">          

            <div class="row eventBanner">
                <div class="title">
                    Doddington Disco
                </div>
                <div class="">
                    
                </div>

            </div>

            <div class="card eventCard">
                <div class="card-body">
                    <p class="eventHeading">Event Details</p>

                    <p>Doddington Village Carnival is on the morning of the first Saturday in July each year, and the parade reaches throughout the village. Come out and see the fantastic array of floats, bands and vehicles on display, each to tie-in to this year's theme and show-off the creativeness of the village.</p>

                    <SharedNextEvent Tag="Carnival Parade" />

                    <p>
                        <a href="https://www.facebook.com/events/328117913061794" target="_blank" class="dinkyIcons"><i class="bi bi-facebook"></i></a>
                        <a href="https://www.instagram.com/doddingtoncarnival" target="_blank" class="dinkyIcons"><i class="bi bi-instagram"></i></a>
                    </p>
                </div>
            </div>
 

            <div class="card eventCard">
                <div class="card-header">
                    Carnival Parade
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6 col-12">
                            <img src="images/Pages/Carnival/Titles/Float.png" class="d-block mx-lg-auto img-fluid" alt="" width="700" height="500" loading="lazy">
                        </div>
                        <div class="col-lg-6 col-12">
                            <p>Float away in the parade procession through the village!</p>
                            <p>Bands, group floats, family floats and marching bands - there's something for everyone.</p>
                            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                                <a href="/carnival/parade" class="btn btn-primary btn-block btn-lg px-4 me-md-2">Go to the Parade</a>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>

            <DoddingtonCarnival.Blazor.Shared.Venues.VillageHallComponent />
        </div>
    </div>
</div>

@code {
    DateTime? nextCarnival;

    protected override async Task OnInitializedAsync()
    {
        // var nextCarnivalEvent = calendarService.GetAll("carnival-day").OrderBy(x => x.StartDateTime).FirstOrDefault();

        // if (nextCarnivalEvent != null)
        // {
        //     nextCarnival = nextCarnivalEvent.StartDateTime;
        // }
    }
}