@page "/santarun"

<PageTitle>Santa Run - Doddington Carnival</PageTitle>

<title>Doddington Village SANTA RUN</title>
<div class="carnivalpage pages paralax carnivalpage-red santaRunFestiveCheer">

    <div class="overlay"></div>
    <div class="container">
        @*         <header>
        <h4 class="line-divider" style="color:white;">Santa Run</h4>
        <h1>Ho! Ho! Ho!</h1>
        </header> *@

        <div class="container col-xxl-8 px-4 py-1">

            <div class="row bannerImage santaBanner"></div>

            <div class="row eventBanner">
                <div class="title">
                    Ho! Ho! Ho! Santa Run 2023!
                </div>
                <div class="">
                    8- 10 December 2023
                </div>

            </div>

            <div class="card eventCard">
                <div class="card-body">
                    <p class="eventHeading">Event Details</p>

                    <p>Doddington Village Sports & Carnival are proud to host Santa's visit to our village each year. In the cold dark days of December, we bring Santa around to ALL houses in the village, with a little festive music to sing along to. Kids of all ages are welcome to come out and say hi!</p>

                    <SharedNextEvent Tag="Santa Run" />

                    <p>
                        <a href="https://www.facebook.com/events/571712671632406" target="_blank" class="dinkyIcons xmas"><i class="bi bi-facebook"></i></a>
                        <a href="https://www.instagram.com/doddingtoncarnival" target="_blank" class="dinkyIcons xmas"><i class="bi bi-instagram"></i></a>
                    </p>
                </div>
            </div>


            <div class="row">
                <div class="col-lg-6 col-12">
                    <div class="card eventCard">
                        <div class="card-header">
                            Santa's Schedule
                        </div>
                        <div class="card-body">
                            <p><span class="text-bold">8th December 2023</span> - Start at Brickmakers Arms Lane at 18:00</p>
                            <p><span class="text-bold">9th December 2023</span> - Start at the bottom of Wood Street at 16:30</p>
                            <p><span class="text-bold">10th December 2023</span> - Start at Washbrook Motocross Entrance at 16:00</p>
                        </div>

                    </div>
                </div>
                <div class="col-lg-6 col-12">
                    <div class="card eventCard">
                        <div class="card-header">
                            Download the Santa Run Poster
                        </div>
                        <div class="card-body">
                            <p>Download the Santa Run Poster</p>
                            <a href="/pdfs/SantaRun/2022 Santa Run Poster.pdf" target="_blank" class="btn btn-primary btn-block btn-lg px-4 me-md-2">Download now</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card eventCard">
                <div class="card-header">
                    Santa Tracker
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6 col-12">
                            <img src="images/Pages/SantaRun/Titles/SantaRun.png" class="d-block mx-lg-auto img-fluid" alt="" width="700" height="500" loading="lazy">
                        </div>
                        <div class="col-lg-6 col-12">
                            <p>Want to know where we are in the village with Santa Claus?</p>
                            <p>Find us on the map and see how far away we are from you!</p>

                            <a href="/santarun/tracker" class="btn btn-primary btn-block btn-lg px-4 me-md-2">Go to the Santa Tracker</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card eventCard">
                <div class="card-header">
                    Santa's route around the Village
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6 col-12">
                            <img src="images/Pages/SantaRun/Titles/SantaRunRoutes.png" class="d-block mx-lg-auto img-fluid" alt="" width="700" height="500" loading="lazy">
                        </div>
                        <div class="col-lg-6 col-12">
                            <p>Santa has kindly visiting Doddington for 3 evenings in December.</p>
                            <p>See which day that he's due to visit your road!</p>

                            <a href="/santarun/routes" class="btn btn-primary btn-block btn-lg px-4 me-md-2">Go to the Santa Run Routes</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card eventCard">
                <div class="card-header">
                    Previous Years Photo Albums
                </div>
                <div class="card-body">

                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <td>Year</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>2022</td>
                                <td><a href="https://www.facebook.com/media/set/?set=a.6004334879628024" target="_blank">Friday</a></td>
                                <td><a href="https://www.facebook.com/media/set/?set=a.6009652352429610" target="_blank">Saturday</a></td>
                                <td><a href="https://www.facebook.com/media/set/?set=a.6018538898207622" target="_blank">Sunday</a></td>
                            </tr>
                            <tr>
                                <td>2021</td>
                                <td><a href="https://www.facebook.com/media/set/?set=a.4908369675891222" target="_blank">Friday</a></td>
                                <td><a href="https://www.facebook.com/media/set/?set=a.4911628265565363" target="_blank">Saturday</a></td>
                                <td><a href="https://www.facebook.com/media/set/?set=a.4915883781806478" target="_blank">Sunday</a></td>
                            </tr>
                            <tr>
                                <td>2020</td>
                                <td colspan="3"><a href="https://www.facebook.com/media/set/?set=a.3823523087709225" target="_blank">All Photos</a></td>
                            </tr>
                            <tr>
                                <td>2019</td>
                                <td><a href="https://www.facebook.com/media/set/?set=a.2797141860347358" target="_blank">Friday</a></td>
                                <td><a href="https://www.facebook.com/media/set/?set=a.2798882266839984" target="_blank">Saturday</a></td>
                                <td><a href="https://www.facebook.com/media/set/?set=a.2801671886561022" target="_blank">Sunday</a></td>
                            </tr>
                            <tr>
                                <td>2018</td>
                                <td><a href="https://www.facebook.com/media/set/?set=a.2129225073805710" target="_blank">Friday</a></td>
                                <td><a href="https://www.facebook.com/media/set/?set=a.2130112560383628" target="_blank">Saturday</a></td>
                                <td><a href="https://www.facebook.com/media/set/?set=a.2131567346904816" target="_blank">Sunday</a></td>
                            </tr>
                            <tr>
                                <td>2017</td>
                                <td><a href="https://www.facebook.com/media/set/?set=a.1650802918314597" target="_blank">Friday</a></td>
                                <td><a href="https://www.facebook.com/media/set/?set=a.1651997364861819" target="_blank">Saturday</a></td>
                                <td><a href="https://www.facebook.com/media/set/?set=a.1653427714718784" target="_blank">Sunday</a></td>
                            </tr>
                            <tr>
                                <td>2016</td>
                                <td colspan="3"><a href="https://www.facebook.com/media/set/?set=a.1254871837907709" target="_blank">All Photos</a></td>
                            </tr>
                            <tr>
                                <td>2015</td>
                                <td colspan="3"><a href="https://www.facebook.com/media/set/?set=a.982208061840756" target="_blank">All Photos</a></td>
                            </tr>
                            <tr>
                                <td>2014</td>
                                <td colspan="3"><a href="https://www.facebook.com/media/set/?set=a.972258806169015" target="_blank">All Photos</a></td>
                            </tr>
                            <tr>
                                <td>2013</td>
                                <td colspan="3"><a href="https://www.facebook.com/media/set/?set=a.972242472837315" target="_blank">All Photos</a></td>
                            </tr>
                            <tr>
                                <td>2011</td>
                                <td colspan="3"><a href="https://www.facebook.com/media/set/?set=a.972221826172713" target="_blank">All Photos</a></td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>

@code {

}