<div class="row">
    <div class="col-lg-12 col-12">
        <div class="card eventCard">
            <div class="card-header">
                Venue Info: Doddington Pavilion & Recreational Field
            </div>
            <div class="card-body">

                <div class="row">
                    <div class="col-6">

                        <p>There are plenty of other events being held at <span class="bold-text">The Doddington Pavilion & Recreational Field</span> - find out more.</p>
                        <p>
                            <a href="https://www.facebook.com/doddingtonpavilion/" target="_blank" class="dinkyIcons"><i class="bi bi-facebook"></i></a>
                            <a href="mailto:doddingtonrec@gmail.com" target="_blank" class="dinkyIcons"><i class="bi bi-envelope"></i></a>
                        </p>
                        <p>Or visit in person:</p>
                        <p>
                            Benwick Road,<br />Doddington,<br />Cambridgeshire,<br />United Kingdom
                        </p>

                    </div>
                    <div class="col-6">
                        <img src="images/venues/DoddingtonPavilionAndRecreationGround.jpg" style="width: 100%; border-radius: 25px;" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

    }
