<div class="row">
    <div class="col-lg-12 col-12">
        <div class="card eventCard">
            <div class="card-header">
                Venue Info: The Three Tuns
            </div>
            <div class="card-body">

                <div class="row">
                    <div class="col-md-4 col-lg-4">
                        <img src="images/venues/thethreetuns.jpg" style="width: 100%; border-radius: 25px;" />
                    </div>

                    <div class="col-md-8 col-lg-8">
                        <p>There are plenty of other events being held at <span class="bold-text">The Three Tuns</span> - find out more online:</p>

                        <p>
                            <a href="https://www.facebook.com/thethreetunsdoddington" target="_blank" class="dinkyIcons"><i class="bi bi-facebook"></i></a>
                            <a href="https://www.instagram.com/thethreetunsdoddington" target="_blank" class="dinkyIcons"><i class="bi bi-instagram"></i></a>
                            <a href="mailto:thethreetuns@email.com" target="_blank" class="dinkyIcons"><i class="bi bi-envelope"></i></a>
                        </p>
                        <p>Or visit in person:</p>
                        <p>
                            The Three Tuns,<br />8 New Street,<br />Doddington,<br />Cambridgeshire,<br />United Kingdom
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

@code {

}
