<div class="row">
    <div class="col-lg-12 col-12">
        <div class="card eventCard">
            <div class="card-header">
                Venue Info: Doddington Village Hall
            </div>
            <div class="card-body">

                <div class="row">
                    <div class="col-md-4 col-lg-4">
                        <div class="venueImage"><img src="images/venues/DoddingtonVillageHall.jpg" style="width: 100%; border-radius: 25px;" /></div>
                        <div class="venueImage"><img src="images/venues/DoddingtonVillageHall2.jpg" style="width: 100%; border-radius: 25px;" /></div>
                    </div>
                    <div class="col-md-8 col-lg-8">

                        <p>There are plenty of other events being held at <span class="bold-text">The Doddington Village Hall</span> - find out more.</p>
                        <p>
                            <a href="https://www.facebook.com/pages/Doddington-Village-Hall/261519444391709" target="_blank" class="dinkyIcons"><i class="bi bi-facebook"></i></a>
                        </p>
                        <p>Or visit in person:</p>
                        <p>
                            Benwick Road,<br />Doddington,<br />Cambridgeshire,<br />United Kingdom
                        </p>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

@code {

    }
