.calendarEvent {
    margin: 20px 10px 20px 0px;
    border-bottom: 1px solid white;
}

    .calendarEvent .dateDetails {
        text-align: center;
    }

        .calendarEvent .dateDetails .month {
        }

        .calendarEvent .dateDetails .day {
            font-size: 1.3em;
            font-weight: bold;
        }

        .calendarEvent .dateDetails .year {
        }

    .calendarEvent .locationDetails {
    }

        .calendarEvent .locationDetails .time {
            font-size: 0.75em;
        }

        .calendarEvent .locationDetails .title {
            font-size: 1.3em;
            font-weight: bold;
        }

        .calendarEvent .locationDetails .location {
            font-weight: bold;
        }

        .calendarEvent .locationDetails .details {
            margin-top: 5px;
        }

            .calendarEvent .locationDetails .details p {
                padding: 0 !important;
            }

    .calendarEvent .goButtons {
        margin-bottom: 20px;
    }

        .calendarEvent .goButtons .goButton {
            margin-left: 10px;
        }

            .calendarEvent .goButtons .goButton:first-child {
                margin-left: 0px;
            }

    .calendarEvent.past {
        color: gray;
    }

    .calendarEvent.hidden {
        display: none;
    }
