@page "/about"

<PageTitle>About us - Doddington Carnival</PageTitle>

<title>About us</title>

<div class="carnivalpage pages paralax carnivalpage-darkblue">
    <div class="container">

        <header>
            <h4 class="line-divider">About Us</h4>
            <h1>The Carnival Team</h1>
        </header>

        <ul class="navbr flex-column">
            <li class="navbr-item mb-2">We're all volunteers.</li>
            <li class="navbr-item mb-2">We are farmers, lorry drivers, office workers, graphic designers, childcare workers, factory workers and much, much more.</li>
            <li class="navbr-item mb-2">We juggle all of this in our spare time.</li>
            <li class="navbr-item mb-2">We all do it for the children of Doddington Village (of all ages!)</li>
            <li class="navbr-item mb-2">We're already planning for the next event.</li>
            <li class="navbr-item mb-2">We absolutely love this stuff and hope that you might, too.</li>
        </ul>

    </div>
</div>

@code {

}