@page "/fancydress"

<PageTitle>Fancy Dress - Doddington Carnival</PageTitle>

<title>Fancy Dress</title>

<div class="carnivalpage pages paralax carnivalpage-darkblue">
    <div class="container">

        <header>
            <h4 class="line-divider">Fancy Dress</h4>
            <h1>Fancy Dress</h1>
        </header>

        <div class="container col-xxl-8 px-4 py-5">

            <div class="row flex-lg-row-reverse align-items-center g-5 py-5 text-center">
                <p class="headerTitle">Everyone loves the Fancy Dress Competitions! The people of Doddington are by FAR the most creative in terms of the excellent outfits that we see!</p>

                <p><SharedNextEvent Tag="Fancy Dress" /></p>
            </div>

            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                <div class="col-10 col-sm-8 col-lg-6">
                    <img src="images/Pages/FancyDress/FancyDress.png" class="d-block mx-lg-auto img-fluid" alt="" width="700" height="500" loading="lazy">
                </div>
                <div class="col-lg-6">
                    <h1 class="display-5 fw-bold lh-1 mb-3">Carnival Day Fancy Dress Competition</h1>
                    <p class="lead">Theme-based fancy dress competition with prizes for different ages and groups.</p>
                    <p class="lead">Get your creative sewing needles sewing!</p>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                        <a href="carnival/fancydress" class="btn btn-primary btn-block btn-lg px-4 me-md-2">Go to Fancy Dress at Carnival</a>
                    </div>
                </div>
            </div>

            @*<hr />

            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">

                <div class="col-lg-6">
                    <h1 class="display-5 fw-bold lh-1 mb-3">Doddington Disco Fancy Dress Competition</h1>
                    <p class="lead">Doddington Disco is a true blast from the past, only made better by some fabulous Fancy Dress entries!</p>
                    <p class="lead">Prizes for the best-dressed fancy dresser!</p>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                        <a href="discos/doddingtondisco/fancydress" class="btn btn-primary btn-block btn-lg px-4 me-md-2">Go to Doddington Disco</a>
                    </div>
                </div>

                <div class="col-10 col-sm-8 col-lg-6">
                    <img src="images/Pages/FancyDress/Disco.png" class="d-block mx-lg-auto img-fluid" alt="" width="700" height="500" loading="lazy">
                </div>
            </div>*@



        </div>
    </div>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
    }
}