@page "/committee"

<PageTitle>Committee - Doddington Carnival</PageTitle>

<title>The Committee</title>

<div class="carnivalpage pages paralax carnivalpage-darkblue">
    <div class="container">

        <header>
            <h4 class="line-divider">Carnival</h4>
            <h1>The Committee</h1>
        </header>

        <div class="row">
            <div class="col-md-8 col-md-offset-2">

                <p>
                    Typical Programme of Events:
                    <ul>
                        <li><a href="/committee/whoweare">Are are the Carnival Committee</a></li>
                        <li><a href="/committee/help">Come and Help!</a></li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
    }
}