@inherits LayoutComponentBase

<PageTitle>Doddington Carnival</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main style="margin: 0 !important;">

        @*<header class="p-3 text-bg-dark">
            <div class="container">
                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                    <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#dvsc" /></svg>
                        Doddington Village Sports & Carnival
                    </a>

                    <div class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"></div>

                   
                    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="#" class="nav-link px-2 text-secondary">Home</a></li>
                    <li><a href="#" class="nav-link px-2 text-white">Features</a></li>
                    <li><a href="#" class="nav-link px-2 text-white">Pricing</a></li>
                    <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
                    <li><a href="#" class="nav-link px-2 text-white">About</a></li>
                    </ul>

                    <div class="text-end">
                    <button type="button" class="btn btn-outline-light me-2">Login</button>
                    <button type="button" class="btn btn-warning">Sign-up</button>
                    </div>
                    
                </div>
            </div>
        </header>*@

        <div class="container">
            @*<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <svg class="bi" width="50" height="50"><use xlink:href="#dvsc" /></svg>

            <span class="fs-4a dvsctitle dvsctitle_sm">Doddington Village<br />Sports & Carnival</span>
            <span class="fs-4a dvsctitle dvsctitle_lg">Doddington Village Sports & Carnival</span>
            </a>

            <ul class="nav nav-pills">
            <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Features</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Pricing</a></li>
            <li class="nav-item"><a href="#" class="nav-link">FAQs</a></li>
            <li class="nav-item"><a href="/signin" class="nav-link">Sign In</a></li>
            </ul>
            </header>*@




        </div>

        <article class="content px-4 carnivalBodyPage" style="padding: 0 !important;">
            @Body

            <footer class="py-5  text-bg-dark">
                <div class="container">
                    <div class="row">
                        <div class="horizontalFooterLinks">
                            
                        </div>
                    </div>

                    <div class="row carnivalFooter">
                        <div class="col-lg-4 col-12 mb-3">

							<div class="doddingtonTitle">Stay in the loop</div>
                            <p>Whether you live in the Village of Doddington, Cambridgeshire, or just keeping in touch with what's going on, subscribe here today because...</p>
                            <p>
                                <ul>
                                    <li>You’ll be the first to hear about great new stuff from us.</li>
                                    <li>Every email we send is designed to provide value.</li>
                                    <li>We’ll never share or misuse your info.</li>
                                    <li>It’s 100% free.</li>
                                    <li>We won't spam-mail you.</li>
                                    <li>You can unsubscribe at any time.</li>
                                </ul>
                            </p>
                        </div>

                        <div class="col-lg-8 col-12 mb-3">
                            <!-- Begin Mailchimp Signup Form -->
                            <link href="//cdn-images.mailchimp.com/embedcode/classic-071822.css" rel="stylesheet" type="text/css">
                            <div id="mc_embed_signup">
                                <form action="https://doddingtoncarnival.us16.list-manage.com/subscribe/post?u=11d14166c21ddb66b865f17b2&amp;id=df58088e52&amp;f_id=001a6ee0f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_self">
                                    <div id="mc_embed_signup_scroll">
                                        
										<div class="mc-field-group">

											<div class="row">
												<div class="col">
													<div class="mc-field-group2">
														<input type="text" value="" placeholder="First Name" name="FNAME" class="required" id="mce-FNAME" required autocomplete="off">
													</div>
												</div>
												<div class="col">
													<div class="mc-field-group2">
														<input type="text" value="" placeholder="Last Name" name="LNAME" class="" id="mce-LNAME" autocomplete="off">
													</div>
												</div>
											</div>
										</div> 

										<div class="mc-field-group">
											<input type="email" value="" placeholder="Email address" name="EMAIL" class="required email" id="mce-EMAIL" required autocomplete="off">
                                        </div>

                                        <div hidden="true"><input type="hidden" name="tags" value="3461445"></div>
                                        <div id="mce-responses" class="clear foot">
                                            <div class="response" id="mce-error-response" style="display:none"></div>
                                            <div class="response" id="mce-success-response" style="display:none"></div>
                                        </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_11d14166c21ddb66b865f17b2_df58088e52" tabindex="-1" value=""></div>
                                        <div class="optionalParent">
                                            <div class="clear foot">
                                                <input type="submit" class="button btn btn-primary" value="Sign up" name="subscribe" id="mc-embedded-subscribe" >
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <!--End mc_embed_signup-->

                        </div>
                    </div>

					<hr />

					<div class="row carnivalFooter">
                        <div class="col-lg-4 col-12 mb-3">
							<h3>Site Links</h3>

							<ul>
								<li><a href="/" class="p-0 text-muted">Home</a> </li>
								<li><a href="calendar" class="p-0 text-muted">Calendar</a></li>
								<li><a href="pubquiz" class="p-0 text-muted">Pub Quiz</a></li>
								<li><a href="scarecrows" class="p-0 text-muted">Scarecrows</a> </li>
								<li><a href="carnival" class="p-0 text-muted">Carnival</a></li>
								<li><a href="sportsafternoon" class="p-0 text-muted">Sports Afternoon</a></li>
								<li><a href="princeandprincess" class="p-0 text-muted">Prince & Princess</a> </li>
								<li><a href="santarun" class="p-0 text-muted">Santa Run</a></li>
								<li><a href="themes" class="p-0 text-muted">Themes</a></li>
                                <li><a href="sponsorssupporters" class="p-0 text-muted">Sponsors & Supporters</a></li>
                                <li><a href="inthenews" class="p-0 text-muted">In the News</a></li>
								<li><a href="donations" class="p-0 text-muted">Donations</a></li>
                                <li><a href="faq" class="p-0 text-muted">FAQs</a></li>
                                <li><a href="media" class="p-0 text-muted">Media</a></li>
							</ul>
						</div>
						<div class="col-lg-4 col-12 mb-3">
							<h3>Follow us</h3>
							<div class="footerIcons">
								<a href="https://www.facebook.com/doddingtoncarnivalandsports" target="_blank" class="footerIcon"><i class="bi bi-facebook"></i></a>
								<a href="https://www.instagram.com/doddingtoncarnival" target="_blank" class="footerIcon"><i class="bi bi-instagram"></i></a>
							</div>

							@* <h3>Useful Information</h3>

							<ul>
								<li><a href="scarecrows/enter" class="p-0 text-muted">Enter a Scarecrow</a> </li>
								<li><a href="carnival/floats/enter" class="p-0 text-muted">Enter a float</a></li>
								<li><a href="fancydress" class="p-0 text-muted">Enter the fancy dress</a></li>
							</ul> *@
						</div>
						<div class="col-lg-4 col-12 mb-3">
							<h3>Contact Details</h3>

							<p>
								&copy; Copyright @DateTime.Now.Year Doddington Village Sports &amp; Carnival. All rights reserved.<br />
								<a href="https://wwww.doddingtoncarnival.co.uk" target="_blank">https://www.doddingtoncarnival.co.uk</a><br />
								<a href="mailto:info@doddingtoncarnival.co.uk">info@doddingtoncarnival.co.uk</a><br />
								<a href="tel:447974262210">+44 (0)7974 262210</a>
							</p>

							<div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-tPPPop">
                        
								<ul class="list-unstyled d-flex" style="color:black !important">
									<li class="ms-3"><a class="link-dark" href="https://twitter.com/doddingtonpage" target="_blank"><svg class="bi" width="24" height="24"><use xlink:href="#twitter" /></svg></a></li>
									<li class="ms-3"><a class="link-dark" href="https://www.instagram.com/doddingtoncarnival" target="_blank"><svg class="bi" width="24" height="24"><use xlink:href="#instagram" /></svg></a></li>
									<li class="ms-3"><a class="link-dark" href="https://www.facebook.com/doddingtoncarnivalandsports" target="_blank"><svg class="bi" width="24" height="24"><use xlink:href="#facebook" /></svg></a></li>
								</ul>
							</div>

							<div>Calendar data powered by <a href="https://www.doddington.org.uk" target="_blank">www.doddington.org.uk</a></div>
						</div>
					</div>

                    
                </div>
            </footer>

        </article>
    </main>
</div>
