@page "/santarun/routes"

@inject NavigationManager NavManager

<PageTitle>Santa Run Routes - Doddington Carnival</PageTitle>

<title>Doddington Village SANTA RUN Routes</title>
<div class="carnivalpage pages paralax carnivalpage-red santaRunFestiveCheer">

    <div class="overlay"></div>
    <div class="container">
      @*   <header>
            <h4 class="line-divider" style="color:white;" @onclick="NavigateToParent">Santa Run</h4>
            <h1>Routes</h1>
        </header> *@

        <div class="container col-xxl-8 px-4 py-1">

            <div class="row"><img src="images/pages/santarun/2022Route.JPG" style="width: 100%" /></div>

            <div class="row eventBanner">
                <div class="title">
                    Santa Run Routes
                </div>
                <div class="">
                    8- 10 December 2023
                </div>

            </div>


            <div class="card eventCard">
                <div class="card-header">
                    Download the routes
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6 col-12">
                            <img src="images/pages/santarun/2022Route.JPG" style="width: 100%" />
                        </div>
                        <div class="col-lg-6 col-12">
                            <p class="lead">Download the routes (PDF) file.</p>

                            <a href="/pdfs/SantaRun/2022%20Santa%20Run%20Poster.pdf" target="_blank" class="btn btn-primary btn-block btn-lg px-4 me-md-2">Download now</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card eventCard">
                <div class="card-header">
                    Routes Per Day
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-4 col-12">
                            <p class="eventHeading">Friday</p>

                            <div>START at 6pm</div>
                            <ul>
                                <li>Brickmaker’s Arms Lane</li>
                                <li>Wimblington Road      </li>
                                <li>Beech Avenue          </li>
                                <li>Cypress Close         </li>
                                <li>Beech Avenue          </li>
                                <li>Cedar Avenue          </li>
                                <li>Holly Drive           </li>
                                <li>Cedar Avenue          </li>
                                <li>Wimblington Road      </li>
                                <li>Dexter Close          </li>
                                <li>Wimblington Road      </li>
                                <li>Witchford Close       </li>
                                <li>Wimblington Road      </li>
                                <li>Childs Lane           </li>
                                <li>Manor Estate          </li>
                            </ul>
                        </div>
                        <div class="col-lg-4 col-12">
                            <p class="eventHeading">Saturday</p>

                            <div>START at 4:30pm</div>

                            <ul>
                                <li>Juniper Close                   </li>
                                <li>Wood Street                     </li>
                                <li>Sutton Way                      </li>
                                <li>Orchard Drive                   </li>
                                <li>Wood Street                     </li>
                                <li>Burdett Close                   </li>
                                <li>The Larches                     </li>
                                <li>Wood Street                     </li>
                                <li>The Rowans                      </li>
                                <li>Wood Street                     </li>
                                <li>Carpenters Way                  </li>
                                <li>Drivers Close                   </li>
                                <li>The Grange                      </li>
                                <li>Wood Street                     </li>
                                <li>Knights Close                   </li>
                                <li>Wood Street                     </li>
                                <li>High Street                     </li>
                                <li>Turn around at Clock Tower      </li>
                                <li>High Street                     </li>
                                <li>Ingles Lane                     </li>
                                <li>Harvest Close                   </li>
                                <li>Ingles Lane                     </li>
                                <li>Church Lane                     </li>
                                <li>Eastalls Close                  </li>
                                <li>Walden Close                    </li>
                                <li>Bevills Close                   </li>
                                <li>Church Lane                     </li>
                                <li>Turf Fen Lane                   </li>
                                <li>Fen View                        </li>
                                <li>Turf Fen Lane                   </li>
                                <li>The Cherries                    </li>
                                <li>Turf Fen Lane                   </li>
                                <li>The Oaks                        </li>
                                <li>Turf Fen Lane                   </li>
                                <li>May Meadows                     </li>
                                <li>Turf Fen Lane                   </li>
                                <li>Eastmoor Lane                   </li>
                                <li>Willow Close                    </li>
                                <li>Eastmoor Lane                   </li>
                                <li>Peyton Close                    </li>
                                <li>Eastmoor Lane                   </li>
                            </ul>
                        </div>
                        <div class="col-lg-4 col-12">
                            <p class="eventHeading">Sunday</p>

                            <div>START at 4pm</div>

                            <ul>
                                <li>Washbrook Motocross Entrance</li>
                                <li>Benwick Road                </li>
                                <li>Askham Row                  </li>
                                <li>Benwick Road                </li>
                                <li>Hermitage Gardens           </li>
                                <li>Benwick Road                </li>
                                <li>Oak Tree Close              </li>
                                <li>Benwick Road                </li>
                                <li>New Street                  </li>
                                <li>Thistledown                 </li>
                                <li>Newgate Street              </li>
                                <li>Ronalds Way                 </li>
                                <li>Newgate Street              </li>
                                <li>Cooks Green                 </li>
                                <li>Miller Close                </li>
                                <li>Cooks Green                 </li>
                                <li>Ancaster Way                </li>
                                <li>Cooks Green                 </li>
                                <li>Hunts Close                 </li>
                                <li>Cooks Green                 </li>
                                <li>Newgate Street              </li>
                                <li>Cornfields                  </li>
                                <li>Newgate Street              </li>
                                <li>Primrose Hill               </li>
                                <li>Cowslip Close               </li>
                                <li>Primrose Hill               </li>
                                <li>Chestnut Close              </li>
                                <li>Primrose Hill               </li>
                                <li>Turnpike Close              </li>
                                <li>Primrose Hill (To the Doddington sign)    </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card eventCard">
                <div class="card-header">
                    Santa Tracker
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6 col-12">
                            <img src="images/Pages/SantaRun/Titles/SantaRun.png" class="d-block mx-lg-auto img-fluid" alt="" width="700" height="500" loading="lazy">
                        </div>
                        <div class="col-lg-6 col-12">
                            <p>Want to know where we are in the village with Santa Claus?</p>
                            <p>Find us on the map and see how far away we are from you!</p>

                            <a href="/santarun/tracker" class="btn btn-primary btn-block btn-lg px-4 me-md-2">Go to the Santa Tracker</a>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    private void NavigateToParent()
    {
        NavManager.NavigateTo("/santarun");
    }
}